td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

body {
	background-color: #000 !important;
}

.common-background {
	background-color: #fff !important;	
}

.input-group {
	margin: 20px 0px;
}

svg {
	height: 150px;
}

.common-color {
	color: #fff;
}

.mapsclass{
	height:250px;
	width:250px
}

.text-center{
	text-align: center;
	margin: 40px 0px;
}